/* slider */
  
  .slider {
    overflow: hidden;
    height: 30rem;
    width: 25rem;
    position: relative;
  }
  .slider::after,
  .slider::before {
    content: "";
    position: absolute;
    height: 6rem;
    width: 100%;
    z-index: 1;
  }
  .slider::before {
    top: -12px;
  }
  .slider::after {
    bottom: -12px;
  }
  
  .tech {
    animation: scroll 30s linear infinite;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .tech2 {
    animation: scroll2 30s linear infinite;
    right: 0;
    bottom: 0;
  }
  .tech div {
    height: 10rem;
    width: 10rem;
    background: linear-gradient(
      109.35deg,
      rgb(134, 24, 24) -96.47%,
      rgb(35, 26, 50) 2.59%
    );
    backdrop-filter: blur(40px); 
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
  }
  .tech div img {
    height: 7rem;
    width: 7rem;
  }
  
  @media screen and (max-width: 768px) {
    .slider {
      overflow: hidden;
      height: 200px;
      width: 15rem;
      position: relative;
    }
  
    .off{
      display: none;
    }
  
    .tech div {
      height: 6rem;
      width: 6rem;
      background: linear-gradient(
        109.35deg,
        rgb(134, 24, 24) -96.47%,
        rgb(35, 26, 50) 2.59%
      );
      backdrop-filter: blur(40px); 
      border-radius: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.8rem;
    }
    .tech div img {
      height: 4rem;
      width: 4rem;
    }
  
    .topAlign{
      margin-top: 300px;
    }
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(
        calc(11.6rem * 10)
      );
    }
  }
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(
        calc(-11.6rem * 9)
      );
    }
  }
  
  
  
  
  
  