.marginNavbar {
    margin-left: 50px;
}

.nav-link :hover{
    color: black;
}

.marginTop {
    margin-top: 15px;
}

.marginIcons {
    margin-left: 15px;
}

.icons {
    width: 30px;
    opacity: 0.7;
}

.icons:hover {
    opacity: 1;
    transition: 0.6s;
}

.navItem {
    font-size: 18px;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .marginNavbar {
        margin-left: 0px;
    }
    
}

@media (max-width: 768px) {
    #navIcons {
      display: none;
    }
}
    