@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  text-decoration: none;
}

h1, h2, h3, h4, div, p, img, section, main{
  overflow-y: hidden;
}

:root {
  --main-orange: #FF934E;
  --transparent-orange: rgba(255, 115, 21, 0.1);
  --input-gray: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --gray: #000000a9;
  --lg: 40px;
  --sm: 14px;
  --md: 20px;
  --parragraph: 18px;
}

.button{
  width: 150px;
  height: 45px;
  border: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-right: 20px;
  background-color: var(--main-orange);
  border-radius: 15px;
}

.button:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.title {
  font-size: var(--lg);
  margin: 24px 0 24px 0;
}

.subtitle {
  font-size: var(--md);
  margin: 24px 0 24px 0;
}

.parragraph {
  color: var(--gray);
  font-size: 18px;
  font-weight: 400;
}

.second-parragraph {
  color: var(--gray);
  font-size: var(--parragraph);
  font-weight: 400;
  margin: 24px 0 24px 0;
}

.textCenter {
  margin-top: 15%;
}

.orange-point{
  font-size: 80px;
  color: var(--main-orange);
}

/*Buttons*/
.orgBtn {
  width: 150px;
  height: 45px;
  border: none;
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin-right: 20px;
  background-color: var(--main-orange);
  border-radius: 15px;
}

.orgBtn:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.whiteBtn {
  width: 150px;
  height: 45px;
  font-size: 15px;
  color: var(--main-orange);
  font-weight: 600;
  border-radius: 15px;
  background-color: var(--white);
  border: var(--main-orange) 2px solid;
}

.whiteBtn:hover {
  background-color: var(--transparent-orange);
  transition: 0.5s;
}