/* color variables */
:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(25, 100%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#porfolio {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -200px;
  margin-bottom: 0%;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */

.cardMe {
  color: var(--clr-neutral-100);
  background-size: cover;
  background-color: gray;
  padding: 8rem 0 0;
  max-width: 30ch;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.projectOne {
  background-image: url(http://drive.google.com/uc?export=view&id=1c9OCU-usfg_QOxA_dl4ENUSYBTjrBeJm);
}

.projectTwo {
  background-image: url("../../img/intra.png");
}

.projectThree {
  background-image: url(http://drive.google.com/uc?export=view&id=1J-vzQZrxCw0-H2iMABkZEiTrPnetVaW4);
}

.projectFour {
  background-image: url("../../img/selia.png");
}

.projectFive {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d9b37981579495.5e998d5b923bc.jpg);
}

.projectSix {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d9b37981579495.5e998d5b923bc.jpg);
}

.cardMe:hover,
.cardMe:focus-within {
  transform: scale(1.04);
}

.cardContent {
  height: 350px; 
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.2) 10%,
    hsl(0 0% 0% / 1)
  );
}

.cardTitle {
  position: relative;
  width: max-content;
}

.cardTitle::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -6px;
  width: 100%;
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease;
}

.cardMe:hover .cardTitle::after,
.cardMe:focus-within .cardTitle::after {
  transform: scaleX(1);
}

.cardBody {
  color: rgb(255, 255, 255 / 0.9);
}

.button {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}

@media (hover) {
  .cardContent {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .cardMe:hover .cardContent,
  .cardMe:focus-within .cardContent {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .cardMe:focus-within .cardContent {
    transition-duration: 0ms;
  }

  .cardContent > *:not(.cardTitle) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .cardMe:hover .cardContent > *:not(.cardTitle),
  .cardMe:focus-within .cardContent > *:not(.cardTitle) {
    opacity: 1;
    transition-delay: 1000ms;
  }
  .cardTitle::after {
    transform: scaleX(0);
  }
}
