/* color variables */
:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(25, 100%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#porfolio {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 0%;
}
/* cards */

.contenedorCards {
  display: flex;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  background: var(--clr-neutral-100);
  font-family: sans-serif;
  padding-right: 15em;
}

.card-me {
  color: var(--clr-neutral-100);
  background-size: cover;
  background-color: gray;
  padding: 8rem 0 0;
  max-width: 30ch;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.project-one {
  background-image: url(http://drive.google.com/uc?export=view&id=1c9OCU-usfg_QOxA_dl4ENUSYBTjrBeJm);
}

.project-two {
  background-image: url("../../img/intra.png");
}

.project-three {
  background-image: url(http://drive.google.com/uc?export=view&id=1J-vzQZrxCw0-H2iMABkZEiTrPnetVaW4);
}

.project-four {
  background-image: url("../../img/selia.png");
}

.project-five {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d9b37981579495.5e998d5b923bc.jpg);
}

.project-six {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d9b37981579495.5e998d5b923bc.jpg);
}

.card-me:hover,
.card-me:focus-within {
  transform: scale(1.04);
}

.card-content {
  height: 350px;
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.2) 10%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -6px;
  width: 100%;
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card-me:hover .card-title::after,
.card-me:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255, 255, 255 / 0.9);
}

.button {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .card-me:hover .card-content,
  .card-me:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card-me:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card-me:hover .card-content > *:not(.card-title),
  .card-me:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1000ms;
  }
  .card-title::after {
    transform: scaleX(0);
  }
}
